/* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
     #map {
      height: 500px;
      width:60rem;
      margin-left:auto;
      margin-right:auto;
      border:4px solid #b6b9de;
      border-radius:4px;
     }
     .nav-col{
        background-color:#91d6ff;
        color:#fff;
     }
     /* Optional: Makes the sample page fill the window. */
     html, body {
        color:#000;
        /*background-color:#ed1c40;*/
        background-color:#fff;
      /*height: 100%;
      margin: 0;
      padding: 0;*/
      min-height: 0 !important;
     }
     #site_name{
       font-family: 'Righteous', cursive !important;
     }
     .site_name2{
        white-space: nowrap;
        font-family: 'Righteous', cursive !important;
     }
     .hero_section{
        margin-top:3%;
     }
     .headd{
        font-family: 'Open Sans', sans-serif;
        padding-bottom:15px;
     }
     .form-wrap{
        width:400px;
        height:462px;
        background-color:#ddd;
        padding:40px;
        margin-left:auto;
        font-family: 'Open Sans', sans-serif;
     }
     .pet_form{
        width:100%;
     }
     .breed_select{
        display:none;
     }
     #search,#new_search{
        background-color: rgba(255,29,29,0.7);
        border:1px solid rgba(255,29,29,0.7);
        box-shadow:1px 3px 10px 0 rgba(0,0,0,.18), 1px 1px 0px 0 rgba(0,0,0,.15);
        cursor:pointer;
     }
     
     #new_search{
        flex:1 100%;
        margin:0 20% 20px 20%;
        font-size:1.5em;

     }

     #search:hover,#new_search:hover{
        box-shadow: 0 5px 10px 0 rgba(0,0,0,.18), 0 4px 22px 0 rgba(0,0,0,.15);
     }
     #search:visited{
        color:#fff;
     }
     .album{
        /*margin-top:35px;*/
        display:none;
        /*background-color:rgb(33, 109, 165);*/
     }
     hr.hr1{
       margin-top:50px;
       width:70%;
       background-color:rgba(235, 235, 235, 0.867);
     }
     p#noresults{
       font-size: 2rem;
       margin-left: auto;
       margin-right: auto;
     }
     img#rolling{
        display:none;
        margin-left:auto;
        margin-right:auto;
     }
     .rolling{
        display:none;
     }
     img.adopt_pet{
        width:350px;
        height:266px;
        border-radius:4px;
        transition: all 0.5s ease-in-out;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
     }
     img.adopt_pet:hover{
       /* transform:scale(1.17,1.08);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;*/
     }
     .pet_cards{
        background-color: #fff;
        color:#000;
        /*padding:10px 0px 0px 0px;*/
        border-radius:4px;
        box-shadow: 0px 0px 15px 0px rgba(49,49,49,0.57);
        margin-top:5px;
        text-align:center;
     }
     .pet_cards>p{
        padding-top:7px;
     }
     /* Coolors Exported Palette - coolors.co/91d6ff-274060-335c81-1b2845-5899e2 */

/* HSL */
/*$color1: hsla(202%, 100%, 78%, 1);
$color2: hsla(214%, 42%, 26%, 1);
$color3: hsla(208%, 43%, 35%, 1);
$color4: hsla(221%, 44%, 19%, 1);
$color5: hsla(212%, 70%, 62%, 1);*/

/* RGB */
/*$color1: rgba(145, 214, 255, 1);
$color2: rgba(39, 64, 96, 1);
$color3: rgba(51, 92, 129, 1);
$color4: rgba(27, 40, 69, 1);
$color5: rgba(88, 153, 226, 1);*/

     div.card_info{
        background-color: rgba(255,29,29,0.7);
        border-bottom-left-radius:4px;
        border-bottom-right-radius:4px;
        /*margin-top:10px;*/
        color:#fff;
     }
     #mix{
        text-transform: capitalize;
     }
     #date{
        font-style: italic;
     }
     /*****
     ******
     -Map-
     ******
     *****/
     .map-wrap{
        display:flex;
        flex-flow:row wrap;
        /*margin-top:2.5%;
        margin-bottom:2.5%;*/
     }
     div#map>div.content{
        color:#000!important;
     }
     .inst{
        flex:1 100%;
        padding:15px;
        font-family: 'Open Sans', sans-serif;
     }
     #info_img{
        width:190px;
        height:160px;
     }

     footer{
        width:100%;
        margin-top:20px;
        padding-top:10px;
        padding-bottom:10px;
        text-align: center;
        background-color:#52afce99;
      }

      @media screen and (max-width: 62em){
         #puppy_hero{
            width:100%;
            height:auto;
         }
         .form-wrap{
            width:100%;
            height:auto;
         }
         #map{
            width:100%;
         }
      }
     @media screen and (max-width: 48em){
        #site_name{
           font-size: 2em;
        }
        .headd{
           font-size: 1.3em;
           line-height: 1.4em;
        }
        .inst{
           font-size:1em;
           line-height:1.5em;
        }
        #puppy_hero{
           width:100%;
           height:auto;
        }
        .form-wrap{
           width:100%;
        }
        #map{
           width:100%;
        }
     }
